#LinkLivre{
    text-decoration: none;
    color: black;
}

.ConnexionForm{
    
    display: inline-block;
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 35%;
   
}
.card-img-top {
    
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
.text-bg-CustomeGenre{
    color: white;
    margin-right: 1ch;
}

.toast {
    position: fixed;
    bottom: 0;
    right: 0;

}

#carouselAccueil{
    margin: auto;
    width: 60%;

      
      
     

}
.ControlebuttonCarousel{
    width: 8%!important;
   
}
.carousel-Accueil{
    height: 65ch;
    object-fit:cover!important;
}


#ppDropDown{
    background-color: red;
    width: 40px;
    height: 40px;
}
#EcrireLivre{
    margin: auto;

}
#regarderLivre{
    margin: auto;
}

#ChapterContainer{
    margin: auto;
    width: 75%;
}
.suggestionModal{
    height: 40ch;
    object-fit: cover;
    resize: none;
}

.suggestionModalCom{
    height: 20ch;
    object-fit: cover;
    resize: none;
}