#LinkLivre{
    text-decoration: none;
    color: black;
}
.ConnexionForm{
    
    display: inline-block;
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 35%;
   
}


.toast {
    position: fixed;
    bottom: 0;
    right: 0;

}

#carouselExampleCaptions{
    margin: auto;
    width: 25%;

}


#ppDropDown{
    background-color: red;
    width: 40px;
    height: 40px;
}
#EcrireLivre{
    margin: auto;

}
#regarderLivre{
    margin: auto;
}

#ChapterContainer{
    margin: auto;
    width: 75%;
}

#Title {
    margin: auto;
    width: 50%;
    font-size: 50px;
    resize: none;
}


#ResumeLivre {
    margin: auto;
    width: 50%;
    font-size: 30px;
    resize: none;
}



.Chapitre {
    margin: auto!important;
    width: 50%!important;
    font-size: 20px!important;
    resize: none!important;



}

